{% extends 'base.html' %}

{% block title %}About {% endblock title %}

{% block body %} 

<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/static/img/ab.jpg" class="d-block w-100" alt="image not found">
  </div>
</div>

<div class="container px-2">

<P align="justify" ><i><b>Since our modest beginnings in 2021 with a little space in Bhopal, Madhya Pradesh. Vishal Restaurant's 
  development has been enlivened with the energy to cook and serve solid, Indian-roused takeout food. Our menu offers something for everybody
  Vishal Restaurant is well known with a substantial gathering of people including families, kids, seniors, and business experts.
  Our benevolent condition is perfect for praising unique events, facilitating a business lunch, or assembling for a flavorful dinner with loved ones.</P>
<P align="justify" >
  People feel really comfortable when they come here, because we are a family owned restaurant, and we are dedicated to delivering the finest of Indian 
  food with the freshest ingredients.
   Open day by day for lunch and dinner, In case you’re searching for top-notch food, Vishal Restaurant is unquestionably one of the spots to go in.
   The goal is to present a creative, fresh, nutritious, tasty, flavorful and a balanced meal. Like the 21st century India, we are progressive with our
    cuisine and not bound by the same-old mentality.
  At Vishal Restaurant, the hotel chief, the server, the assistant, the watchman, and each other individual colleague assume an indispensable job in 
  conveying a noteworthy visitor encounter. Looking forward to serving you..</i></b>
</P>
</div>

<br><br>


{% endblock body%}
