{% extends 'base.html' %}

{% block title %}Desserts {% endblock title %}

{% block body %} 

<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/desserts.png" class="d-block w-100" alt="image not found">
    </div>
</div>
<br>
<div class="container my-2 px-2">
    <P align="justify"><center><h3>Desserts at Vishal Restaurant</center></h3></p>
    <P align="justify"><i><b>
        Dessert is a course that concludes a meal and it consists of sweet foods.
        The term dessert can apply to many confections, such as biscuits, cakes, cookies, custards,
         gelatins, ice creams, pastries, pies, puddings, macaroons, sweet soups, tarts, and fruit salad.
          Fruit is also commonly found in dessert courses because of its naturally occurring sweetness. 
        Some cultures sweeten foods that are more commonly savory to create desserts.
    </P>
    <P align="justify"><center><h5><U>List of Desserts items Available at Vishal Restaurant</U></h5></center></p>

        <CENTER>
            <TABLE RULES="NONE" CELLPADDING=20>
                <P align="justify"><center><h6>You can choose from our Delicious range of desserts..</h6></center></p>
                    <TR >
                        <TD>Cheese cake</TD>
                        <TD>Cupcakes</TD>
                        <TD>Apple Pie</TD>
                        <TD>Ice Creams</TD>
                        <TD>Brownies</TD>
                        <TD>Cheesecake</TD>
                    </TR>
                    <TR>
                        <TD>Almond Malai Kulfi
                        <TD>Coconut Kheer</TD>
                        <TD>Chocolate Coffee Truffle</TD>
                        <TD>Lemon Tart</TD>
                        <TD>Fudgy Chewy Brownies</TD>
                        <TD>Chocolates Cookies</TD>
                    </TR>
                    <TR>
                        <TD>Dough nut</TD>
                        <TD>Sundae</TD>
                        <TD>Gelato</TD>
                        <TD>Waffle</TD>
                        <TD>Caramel</TD>
                        <TD>Cheesecake</TD>
                    </TR>
                </CENTER>
            </TABLE>
</b>
</i>
</div>
<BR>
<BR>


{% endblock body%}
