{% extends 'base.html' %}

{% block title %}Fast Food {% endblock title %}

{% block body %} 

<div class="carousel-inner">
    <div class="carousel-item active my-0">
      <img src="/static/img/FAST.jpg" class="d-block w-100" alt="image not found">
    </div>
</div>
<br>
<div class="container px-2">
<P align="justify"><i><b>
It is a type of mass-produced food designed for commercial resale, with a strong priority placed on speed of service. It is a commercial term,
limited to food sold in a restaurant or store with frozen, preheated or precooked ingredients and served in packaging for take-out/take-away.
</P>
<P align="justify"><center><h4>List of Fast Food items Available at Vishal Restaurant</h4></center></p>

    <CENTER>
        <TABLE RULES="NONE" CELLPADDING=20>
            <P align="justify"><center><h6>You can choose from our Delicious range of foods..</h6></center></p>
        <TR >
            <TD>Bhel Puri</TD>
            <TD>Sev Puri</TD>
            <TD>Pani Puri</TD>
            <TD>Aloo Tikki</TD>
            <TD>Chaat</TD>
            <TD>Samosa</TD>
            <TD>Vada Pav</TD>
            <TD>Dabeli</TD>
            <TD>Kachoris</TD>
            <TD>Pakoda</TD>
                
        </TR>
        <TR>
            <TD>Dahi Vada</TD>
            <TD>Kanda Poha</TD>
            <TD>Litti Chokha</TD>
            <TD>Pav Bhaji</TD>
            <TD>Tava Pulao</TD>
             <TD>Fried Rice</TD>
            <TD>Manchurian Balls</TD>
            <TD>Soups</TD>
            <TD>Momos</TD>
            <TD>Chinese Bhel</TD>
            <TD>Spring Rolls</TD>
            
        </TR>   
        <TR>
            <TD>Idli</TD>
            <TD>Dosa</TD>
            <TD>Uttapam</TD>
            <TD>Cutlets</TD>
            <TD>Paratha</TD>
            <TD>Chole Bhature</TD>
            <TD>Sandwiches</TD>
            <TD>Maggi</TD>
            <TD>Noodles</TD>
            <TD>Pizza</TD>
            <TD>Burgers</TD>
        </TR>
                
        </TABLE>
    </CENTER>
</i>
</b>
</div>
<br>
<P align="justify"><center><h5>Looking forward to serve you these delicious dishes..</h5></center></p>
<br>
<br>

{% endblock body%}
