{% extends 'base.html' %}

{% block title %}Thali {% endblock title %}

{% block body %} 
<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/thali.jpg" class="d-block w-100" alt="image not found">
    </div>
</div>

<div class="container px-2">
    <P align="justify"><center><h2>: THALI :</center></h2></p>

    <P align="justify"><i><b>
The Indian thali is a wholesome combination of colorful dishes served next to each other on a single plate. It is the perfect depiction of Indian cuisine.
 Our thali meal ideas are utterly simple, nourishing, and full of flavors. Small eating bowls known as 'katori' are placed within the thali, each containing a dish.
This whole platter is served as a set meal for lunch or dinner. The portion size of thali is sufficient for an individual.</p>
    <P align="justify">
  A thali meal is an age-old Indian tradition that is hard to find nowadays in modern families due to busy schedules.
 Still, Vishal restaurant serves these set meal platters with traditional Indian dishes.</p>
    <P align="justify"><center><h4>
   What does a Thali consist of at Vishal Restaurant?</center></h4></p>
    <P align="justify">
   At Vishal Restaurant, this Indian thali comprises – main-course gravy, dal or curry, sabzi or stir fry, condiments
    like raita, chutney, pickle, salad, papadum, and side dishes like roti, naan, chapati, paratha, or boiled rice.</p>

    <P align="justify">
    To top off this delicious Thali, serve Gulab Jamun for dessert! Our guests will love this platter, particularly if they're fellow vegetarians, 
    which people of a variety of faiths in India are, most notable practitioners of Hinduism, Jainism, and Buddhism. Depending on how big your dinner party is, 
    you don't have to limit yourself to one Thali plate.


    </i></b>
</P>
</div>

<br><br>

{% endblock body%}
